[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
blake3 = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[scripts]
start = "python src/run.py"
docs = "python src/gendoc.py"
format = "autopep8 -ivr src"
lint = "flake8 --show-source src"
